node_modules
ui/node_modules
dist
fe-pipeline-home
.cache
.git
/fe-pipeline-home

/server/config/config.development.yml
/server/config/config.production.yml

/dist
/docker/theia-ide/lib
/docker/theia-ide/theia-fe-pipeline-extensions/lib